<section class="about-section">
    <div class="container">
      <div class="row">
       <div class="col-lg-6">
        <div class="about-image clearfix">
          <div class="single-image float-left">
           <img src="https://i.ibb.co/Z89vbqS/2.jpg" alt="">
          </div> 
         <div class="single-image image-tow float-right">
        <img src="https://i.ibb.co/vvM7myx/Untitled-1.jpg" alt="">
      </div> 
    </div> 
      </div>
        <div class="col-lg-6">
         <div class="about-content">
            <h3>About Angular </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <br> 
           <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <br><br>
          <a class="main-btn mt-25 m4" href="#">Learn More <i class="fas fa-arrow-right"></i></a>
        </div> 
       </div>
      </div> 
    </div> 
   </section>