<section class="about-section">
    <div class="container">
      <div class="row">
         <div class="about-content">
            <h3>Contact Angular </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
            <br> 
           <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
               scrambled it to make a type specimen book. </p>
               <br>
            
          <a class="main-btn mt-25 m4" href="#">Learn More <i class="fas fa-arrow-right"></i></a>
        </div> 
       </div>
    </div> 
</section>
