.navbar
{
   background-color: #0b6efd;
   padding-top: 16px;
   padding-bottom: 16px;
}
.navbar-light .navbar-nav .nav-item{
    color: #000;
    font-size: 18px;
}.nav-link{
    font-weight: 500;
    color: #fff;
}.ml-auto{
    margin-right: 60px;
}.navbar-collapse{
    flex-grow: 0;
}.navbar-brand{
    margin-left: 43px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}