<section class="home">
    <img src="../../assets/web.jpg">
    <div class="homecontent">
        <h1>Angular Start Learning For <br>Future Bright</h1><br>
        <a href="#" class="btn btn-lg btn-light">Discover Angular</a> &nbsp;
        <a href="#" class="btn btn-lg btn-primary">Join Now</a>
    </div>
</section>


<section class="about-section">
    <div class="container">
      <div class="row">
         <div class="about-content">
            <h3 class="homeh1"> Welcome to Angular </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <br> 
           <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <br><br>
        </div> 
       </div>
    </div> 
   </section>
