.home img{
    width: 100%;
    height: 800px;
    object-position: center;
    /*object-fit: cover;*/
}

.homecontent{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}

.homecontent h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}.homeh1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}.about-section{
    margin-top: 75px;
}.about-section p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}